.fa-beat {
  animation: 1.5s infinite beat;
  animation: 1.5s infinite beat-fade;
}

@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  30%,
  80% {
    transform: scale(0.92, 0.95);
  }
}

@keyframes beat-fade {
  0% {
    color: #d21faa;
    opacity: 1;
  }
  50% {
    color: #ffffff;
    opacity: 0.5;
  }
  100% {
    color: #d21faa;
    opacity: 1;
  }
}

.balance {
  display: inline-block;
  border: none;
  border-radius: 1em;
  background-color: #d21faa33;
  font-size: small;
  padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  line-height: 0.8em;
  color: crimson;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: 0.6em;
  color: dimgray;
  margin-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0em;
  padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: inline-block;
  top: -0.8em;
  max-width: 80%;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-bottom: 0;
  margin-left: -0.5em;
}
